<div style="margin-left: 200px;color: brown">
    <button class="btn" style="background-color: brown; color: palegoldenrod; font-weight: bold" onclick="location.href='#/list'">Back to Doctors List</button>
    <img class="flip-in" src="static/img/doctor_{{profile.id}}.jpg" style="width: 300px;height: 330px;float: right;margin-right: 160px;border-radius: 25px">
    <h3>Name: </h3>

    <h3 style="margin-left: 80px;">
        <u>{{profile.name}}</u>
    </h3>

    <h3>Speciality: </h3>

    <h3 style="margin-left: 80px">
        <u>{{profile.speciality}}</u>
    </h3>

    <h3>Education: </h3>

    <h3 style="margin-left: 80px">
        <u>{{profile.education}}</u>
    </h3>

    <h3>Address: </h3>

    <h3 style="margin-left: 80px">
        <u>{{profile.address}}</u>
    </h3>
</div>